@charset "utf-8";
/* CSS Document */

#termsbody{
	
	width:80%;
	color: #333;
    font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height:250%;}
#termsbody a{
	text-decoration:none;
	color:#47a812}